.con-1{
    font-size: 2rem;
    margin: 10px;
}
button{
    font-size: 2rem;
    border-radius: 15%;
    background-color: gray;
    color: gainsboro;
}
.con-2{
    font-size: 2rem;
    margin: 10px;
}
.con-3{
    font-size: 2rem;
    margin: 10px;
}